branches:
  - main

plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - '@semantic-release/exec'
    - prepareCmd: 'VERSION=${nextRelease.version} make generate'
  - - '@semantic-release/git'
    - assests: ['VERSION', 'CHANGELOG.md']
  - "@semantic-release/github"
